<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Fixed Loan Calculator</a>

</div>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
